<div class="outer container align-self-center">
  <div class="inner">
    <h2>Login</h2>
    <form>
      <div class="form-group">
        <label for="exampleInputLogin1">Login address</label>
        <input type="login" class="form-control" id="exampleInputLogin1" aria-describedby="loginHelp" placeholder="Enter login">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
