<div class="outer container align-self-center news-crete">
  <form [formGroup]="newsCreateForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="exampleInputNewsTitle">Название новости</label>
      <input type="name" class="form-control" id="exampleInputNewsTitle" placeholder="Введите название" formControlName="title">
    </div>

    <div class="form-group shadow-textarea">
      <label for="exampleFormControlTextarea6">Описание новости</label>
      <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="Напишите о чем-нибудь..." formControlName="description"></textarea>
    </div>

    <div class="form-group input-group">
      <div class="custom-file">
        <input type="file" accept=".jpeg, .jpg, .png" class="custom-file-input" id="inputGroupFile02" (change)="imageUpload($event.target.files)" multiple>
        <label class="custom-file-label" for="inputGroupFile02">Выберите файл</label>
      </div>
      <button type="submit" class="btn btn-primary submit">Создать</button>
    </div>

  </form>
</div>
