/* You can add global styles to this file, and also import other style files */
.outer {
  height: 100vh;
  width: 400px;
}

.inner {
  position: relative;
  top: 30%;
}

.error {
  margin-top: 10px;
}
